ProgAppsWeb-master/web/WEB-INF/wsdl/uytube.uy_8000/WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controladores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controladores/" name="SistemaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Controladores/" schemaLocation="http://uytube.uy:8000/WebService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="AltaUsuarioWeb">
<part name="parameters" element="tns:AltaUsuarioWeb"></part>
</message>
<message name="AltaUsuarioWebResponse">
<part name="parameters" element="tns:AltaUsuarioWebResponse"></part>
</message>
<message name="AltaUsuario">
<part name="parameters" element="tns:AltaUsuario"></part>
</message>
<message name="AltaUsuarioResponse">
<part name="parameters" element="tns:AltaUsuarioResponse"></part>
</message>
<message name="ModificarPassU">
<part name="parameters" element="tns:ModificarPassU"></part>
</message>
<message name="ModificarPassUResponse">
<part name="parameters" element="tns:ModificarPassUResponse"></part>
</message>
<message name="ExisteListaDefecto">
<part name="parameters" element="tns:ExisteListaDefecto"></part>
</message>
<message name="ExisteListaDefectoResponse">
<part name="parameters" element="tns:ExisteListaDefectoResponse"></part>
</message>
<message name="propCanal">
<part name="parameters" element="tns:propCanal"></part>
</message>
<message name="propCanalResponse">
<part name="parameters" element="tns:propCanalResponse"></part>
</message>
<message name="BajaUsuario">
<part name="parameters" element="tns:BajaUsuario"></part>
</message>
<message name="BajaUsuarioResponse">
<part name="parameters" element="tns:BajaUsuarioResponse"></part>
</message>
<message name="AgregarListaLR">
<part name="parameters" element="tns:AgregarListaLR"></part>
</message>
<message name="AgregarListaLRResponse">
<part name="parameters" element="tns:AgregarListaLRResponse"></part>
</message>
<message name="ModificarNomVideo">
<part name="parameters" element="tns:ModificarNomVideo"></part>
</message>
<message name="ModificarNomVideoResponse">
<part name="parameters" element="tns:ModificarNomVideoResponse"></part>
</message>
<message name="ModificarDescVideo">
<part name="parameters" element="tns:ModificarDescVideo"></part>
</message>
<message name="ModificarDescVideoResponse">
<part name="parameters" element="tns:ModificarDescVideoResponse"></part>
</message>
<message name="ModificarDurVideo">
<part name="parameters" element="tns:ModificarDurVideo"></part>
</message>
<message name="ModificarDurVideoResponse">
<part name="parameters" element="tns:ModificarDurVideoResponse"></part>
</message>
<message name="ModificarFechaVideo">
<part name="parameters" element="tns:ModificarFechaVideo"></part>
</message>
<message name="ModificarFechaVideoResponse">
<part name="parameters" element="tns:ModificarFechaVideoResponse"></part>
</message>
<message name="ModificarPrivVideo">
<part name="parameters" element="tns:ModificarPrivVideo"></part>
</message>
<message name="ModificarPrivVideoResponse">
<part name="parameters" element="tns:ModificarPrivVideoResponse"></part>
</message>
<message name="ModificarURLVideo">
<part name="parameters" element="tns:ModificarURLVideo"></part>
</message>
<message name="ModificarURLVideoResponse">
<part name="parameters" element="tns:ModificarURLVideoResponse"></part>
</message>
<message name="ModificarCatVideo">
<part name="parameters" element="tns:ModificarCatVideo"></part>
</message>
<message name="ModificarCatVideoResponse">
<part name="parameters" element="tns:ModificarCatVideoResponse"></part>
</message>
<message name="ValorarVideo">
<part name="parameters" element="tns:ValorarVideo"></part>
</message>
<message name="ValorarVideoResponse">
<part name="parameters" element="tns:ValorarVideoResponse"></part>
</message>
<message name="AltaVideo">
<part name="parameters" element="tns:AltaVideo"></part>
</message>
<message name="AltaVideoResponse">
<part name="parameters" element="tns:AltaVideoResponse"></part>
</message>
<message name="SeguirUsuario">
<part name="parameters" element="tns:SeguirUsuario"></part>
</message>
<message name="SeguirUsuarioResponse">
<part name="parameters" element="tns:SeguirUsuarioResponse"></part>
</message>
<message name="DejarSeguirUsr">
<part name="parameters" element="tns:DejarSeguirUsr"></part>
</message>
<message name="DejarSeguirUsrResponse">
<part name="parameters" element="tns:DejarSeguirUsrResponse"></part>
</message>
<message name="AgregarVideoListaReproduccion">
<part name="parameters" element="tns:AgregarVideoListaReproduccion"></part>
</message>
<message name="AgregarVideoListaReproduccionResponse">
<part name="parameters" element="tns:AgregarVideoListaReproduccionResponse"></part>
</message>
<message name="CrearListaDefecto">
<part name="parameters" element="tns:CrearListaDefecto"></part>
</message>
<message name="CrearListaDefectoResponse">
<part name="parameters" element="tns:CrearListaDefectoResponse"></part>
</message>
<message name="CrearListaParticular">
<part name="parameters" element="tns:CrearListaParticular"></part>
</message>
<message name="CrearListaParticularResponse">
<part name="parameters" element="tns:CrearListaParticularResponse"></part>
</message>
<message name="QuitarVideoLR">
<part name="parameters" element="tns:QuitarVideoLR"></part>
</message>
<message name="QuitarVideoLRResponse">
<part name="parameters" element="tns:QuitarVideoLRResponse"></part>
</message>
<message name="ModificarNombreU">
<part name="parameters" element="tns:ModificarNombreU"></part>
</message>
<message name="ModificarNombreUResponse">
<part name="parameters" element="tns:ModificarNombreUResponse"></part>
</message>
<message name="ModificarApellidoU">
<part name="parameters" element="tns:ModificarApellidoU"></part>
</message>
<message name="ModificarApellidoUResponse">
<part name="parameters" element="tns:ModificarApellidoUResponse"></part>
</message>
<message name="ModificarFechaU">
<part name="parameters" element="tns:ModificarFechaU"></part>
</message>
<message name="ModificarFechaUResponse">
<part name="parameters" element="tns:ModificarFechaUResponse"></part>
</message>
<message name="ModificarImagenU">
<part name="parameters" element="tns:ModificarImagenU"></part>
</message>
<message name="ModificarImagenUResponse">
<part name="parameters" element="tns:ModificarImagenUResponse"></part>
</message>
<message name="ModificarNomC">
<part name="parameters" element="tns:ModificarNomC"></part>
</message>
<message name="ModificarNomCResponse">
<part name="parameters" element="tns:ModificarNomCResponse"></part>
</message>
<message name="ModificarDescC">
<part name="parameters" element="tns:ModificarDescC"></part>
</message>
<message name="ModificarDescCResponse">
<part name="parameters" element="tns:ModificarDescCResponse"></part>
</message>
<message name="ModificarPrivC">
<part name="parameters" element="tns:ModificarPrivC"></part>
</message>
<message name="ModificarPrivCResponse">
<part name="parameters" element="tns:ModificarPrivCResponse"></part>
</message>
<message name="AgregarComentarioNuevo">
<part name="parameters" element="tns:AgregarComentarioNuevo"></part>
</message>
<message name="AgregarComentarioNuevoResponse">
<part name="parameters" element="tns:AgregarComentarioNuevoResponse"></part>
</message>
<message name="AgregarRespuesta">
<part name="parameters" element="tns:AgregarRespuesta"></part>
</message>
<message name="AgregarRespuestaResponse">
<part name="parameters" element="tns:AgregarRespuestaResponse"></part>
</message>
<message name="ModificarPrivLR">
<part name="parameters" element="tns:ModificarPrivLR"></part>
</message>
<message name="ModificarPrivLRResponse">
<part name="parameters" element="tns:ModificarPrivLRResponse"></part>
</message>
<message name="ModificarLR">
<part name="parameters" element="tns:ModificarLR"></part>
</message>
<message name="ModificarLRResponse">
<part name="parameters" element="tns:ModificarLRResponse"></part>
</message>
<message name="CargarDatosPrueba">
<part name="parameters" element="tns:CargarDatosPrueba"></part>
</message>
<message name="CargarDatosPruebaResponse">
<part name="parameters" element="tns:CargarDatosPruebaResponse"></part>
</message>
<message name="AltaCategoria">
<part name="parameters" element="tns:AltaCategoria"></part>
</message>
<message name="AltaCategoriaResponse">
<part name="parameters" element="tns:AltaCategoriaResponse"></part>
</message>
<message name="setContra">
<part name="parameters" element="tns:setContra"></part>
</message>
<message name="setContraResponse">
<part name="parameters" element="tns:setContraResponse"></part>
</message>
<message name="ExisteUsr">
<part name="parameters" element="tns:ExisteUsr"></part>
</message>
<message name="ExisteUsrResponse">
<part name="parameters" element="tns:ExisteUsrResponse"></part>
</message>
<message name="InicioSesion">
<part name="parameters" element="tns:InicioSesion"></part>
</message>
<message name="InicioSesionResponse">
<part name="parameters" element="tns:InicioSesionResponse"></part>
</message>
<message name="ExisteLista">
<part name="parameters" element="tns:ExisteLista"></part>
</message>
<message name="ExisteListaResponse">
<part name="parameters" element="tns:ExisteListaResponse"></part>
</message>
<message name="ExisteMail">
<part name="parameters" element="tns:ExisteMail"></part>
</message>
<message name="ExisteMailResponse">
<part name="parameters" element="tns:ExisteMailResponse"></part>
</message>
<message name="TieneVideosLR">
<part name="parameters" element="tns:TieneVideosLR"></part>
</message>
<message name="TieneVideosLRResponse">
<part name="parameters" element="tns:TieneVideosLRResponse"></part>
</message>
<message name="ExisteVideo">
<part name="parameters" element="tns:ExisteVideo"></part>
</message>
<message name="ExisteVideoResponse">
<part name="parameters" element="tns:ExisteVideoResponse"></part>
</message>
<message name="HayListasDefecto">
<part name="parameters" element="tns:HayListasDefecto"></part>
</message>
<message name="HayListasDefectoResponse">
<part name="parameters" element="tns:HayListasDefectoResponse"></part>
</message>
<message name="LoSigue">
<part name="parameters" element="tns:LoSigue"></part>
</message>
<message name="LoSigueResponse">
<part name="parameters" element="tns:LoSigueResponse"></part>
</message>
<message name="TieneComentarios">
<part name="parameters" element="tns:TieneComentarios"></part>
</message>
<message name="TieneComentariosResponse">
<part name="parameters" element="tns:TieneComentariosResponse"></part>
</message>
<message name="ExisteCategoria">
<part name="parameters" element="tns:ExisteCategoria"></part>
</message>
<message name="ExisteCategoriaResponse">
<part name="parameters" element="tns:ExisteCategoriaResponse"></part>
</message>
<message name="ExisteVideoLR">
<part name="parameters" element="tns:ExisteVideoLR"></part>
</message>
<message name="ExisteVideoLRResponse">
<part name="parameters" element="tns:ExisteVideoLRResponse"></part>
</message>
<message name="TieneVideos">
<part name="parameters" element="tns:TieneVideos"></part>
</message>
<message name="TieneVideosResponse">
<part name="parameters" element="tns:TieneVideosResponse"></part>
</message>
<message name="TieneLR">
<part name="parameters" element="tns:TieneLR"></part>
</message>
<message name="TieneLRResponse">
<part name="parameters" element="tns:TieneLRResponse"></part>
</message>
<message name="TieneValoraciones">
<part name="parameters" element="tns:TieneValoraciones"></part>
</message>
<message name="TieneValoracionesResponse">
<part name="parameters" element="tns:TieneValoracionesResponse"></part>
</message>
<message name="UTieneValoracionI">
<part name="parameters" element="tns:UTieneValoracionI"></part>
</message>
<message name="UTieneValoracionIResponse">
<part name="parameters" element="tns:UTieneValoracionIResponse"></part>
</message>
<message name="UTieneValoracion">
<part name="parameters" element="tns:UTieneValoracion"></part>
</message>
<message name="UTieneValoracionResponse">
<part name="parameters" element="tns:UTieneValoracionResponse"></part>
</message>
<message name="getNick">
<part name="parameters" element="tns:getNick"></part>
</message>
<message name="getNickResponse">
<part name="parameters" element="tns:getNickResponse"></part>
</message>
<message name="getDataVideosLR">
<part name="parameters" element="tns:getDataVideosLR"></part>
</message>
<message name="getDataVideosLRResponse">
<part name="parameters" element="tns:getDataVideosLRResponse"></part>
</message>
<message name="ListaTVideos">
<part name="parameters" element="tns:ListaTVideos"></part>
</message>
<message name="ListaTVideosResponse">
<part name="parameters" element="tns:ListaTVideosResponse"></part>
</message>
<message name="ListaTLR">
<part name="parameters" element="tns:ListaTLR"></part>
</message>
<message name="ListaTLRResponse">
<part name="parameters" element="tns:ListaTLRResponse"></part>
</message>
<message name="OrdenoVideosLR">
<part name="parameters" element="tns:OrdenoVideosLR"></part>
</message>
<message name="OrdenoVideosLRResponse">
<part name="parameters" element="tns:OrdenoVideosLRResponse"></part>
</message>
<message name="propLista">
<part name="parameters" element="tns:propLista"></part>
</message>
<message name="propListaResponse">
<part name="parameters" element="tns:propListaResponse"></part>
</message>
<message name="propCanal1">
<part name="parameters" element="tns:propCanal1"></part>
</message>
<message name="propCanal1Response">
<part name="parameters" element="tns:propCanal1Response"></part>
</message>
<message name="ListaCanales">
<part name="parameters" element="tns:ListaCanales"></part>
</message>
<message name="ListaCanalesResponse">
<part name="parameters" element="tns:ListaCanalesResponse"></part>
</message>
<message name="ListaUsuarios">
<part name="parameters" element="tns:ListaUsuarios"></part>
</message>
<message name="ListaUsuariosResponse">
<part name="parameters" element="tns:ListaUsuariosResponse"></part>
</message>
<message name="ListaListaReproducion">
<part name="parameters" element="tns:ListaListaReproducion"></part>
</message>
<message name="ListaListaReproducionResponse">
<part name="parameters" element="tns:ListaListaReproducionResponse"></part>
</message>
<message name="VideoRecienteU">
<part name="parameters" element="tns:VideoRecienteU"></part>
</message>
<message name="VideoRecienteUResponse">
<part name="parameters" element="tns:VideoRecienteUResponse"></part>
</message>
<message name="CantLikes">
<part name="parameters" element="tns:CantLikes"></part>
</message>
<message name="CantLikesResponse">
<part name="parameters" element="tns:CantLikesResponse"></part>
</message>
<message name="CantDislikes">
<part name="parameters" element="tns:CantDislikes"></part>
</message>
<message name="CantDislikesResponse">
<part name="parameters" element="tns:CantDislikesResponse"></part>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"></part>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"></part>
</message>
<message name="ListasLDRVideos">
<part name="parameters" element="tns:ListasLDRVideos"></part>
</message>
<message name="ListasLDRVideosResponse">
<part name="parameters" element="tns:ListasLDRVideosResponse"></part>
</message>
<message name="ListaVideos">
<part name="parameters" element="tns:ListaVideos"></part>
</message>
<message name="ListaVideosResponse">
<part name="parameters" element="tns:ListaVideosResponse"></part>
</message>
<message name="ListaCategorias">
<part name="parameters" element="tns:ListaCategorias"></part>
</message>
<message name="ListaCategoriasResponse">
<part name="parameters" element="tns:ListaCategoriasResponse"></part>
</message>
<message name="ListaComentarios">
<part name="parameters" element="tns:ListaComentarios"></part>
</message>
<message name="ListaComentariosResponse">
<part name="parameters" element="tns:ListaComentariosResponse"></part>
</message>
<message name="ListaSeguidores">
<part name="parameters" element="tns:ListaSeguidores"></part>
</message>
<message name="ListaSeguidoresResponse">
<part name="parameters" element="tns:ListaSeguidoresResponse"></part>
</message>
<message name="ListaSeguidos">
<part name="parameters" element="tns:ListaSeguidos"></part>
</message>
<message name="ListaSeguidosResponse">
<part name="parameters" element="tns:ListaSeguidosResponse"></part>
</message>
<message name="ListaVideosxCategoria">
<part name="parameters" element="tns:ListaVideosxCategoria"></part>
</message>
<message name="ListaVideosxCategoriaResponse">
<part name="parameters" element="tns:ListaVideosxCategoriaResponse"></part>
</message>
<message name="ListaLRxCategoria">
<part name="parameters" element="tns:ListaLRxCategoria"></part>
</message>
<message name="ListaLRxCategoriaResponse">
<part name="parameters" element="tns:ListaLRxCategoriaResponse"></part>
</message>
<message name="getDataLR">
<part name="parameters" element="tns:getDataLR"></part>
</message>
<message name="getDataLRResponse">
<part name="parameters" element="tns:getDataLRResponse"></part>
</message>
<message name="getDataUsuario">
<part name="parameters" element="tns:getDataUsuario"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="parameters" element="tns:getDataUsuarioResponse"></part>
</message>
<message name="getDataVideo">
<part name="parameters" element="tns:getDataVideo"></part>
</message>
<message name="getDataVideoResponse">
<part name="parameters" element="tns:getDataVideoResponse"></part>
</message>
<message name="getDataUsuarioVideo">
<part name="parameters" element="tns:getDataUsuarioVideo"></part>
</message>
<message name="getDataUsuarioVideoResponse">
<part name="parameters" element="tns:getDataUsuarioVideoResponse"></part>
</message>
<message name="getDataUsuarioLR">
<part name="parameters" element="tns:getDataUsuarioLR"></part>
</message>
<message name="getDataUsuarioLRResponse">
<part name="parameters" element="tns:getDataUsuarioLRResponse"></part>
</message>
<message name="getDataCanal">
<part name="parameters" element="tns:getDataCanal"></part>
</message>
<message name="getDataCanalResponse">
<part name="parameters" element="tns:getDataCanalResponse"></part>
</message>
<portType name="Sistema">
<operation name="AltaUsuarioWeb">
<input wsam:Action="http://Controladores/Sistema/AltaUsuarioWebRequest" message="tns:AltaUsuarioWeb"></input>
<output wsam:Action="http://Controladores/Sistema/AltaUsuarioWebResponse" message="tns:AltaUsuarioWebResponse"></output>
</operation>
<operation name="AltaUsuario">
<input wsam:Action="http://Controladores/Sistema/AltaUsuarioRequest" message="tns:AltaUsuario"></input>
<output wsam:Action="http://Controladores/Sistema/AltaUsuarioResponse" message="tns:AltaUsuarioResponse"></output>
</operation>
<operation name="ModificarPassU">
<input wsam:Action="http://Controladores/Sistema/ModificarPassURequest" message="tns:ModificarPassU"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarPassUResponse" message="tns:ModificarPassUResponse"></output>
</operation>
<operation name="ExisteListaDefecto">
<input wsam:Action="http://Controladores/Sistema/ExisteListaDefectoRequest" message="tns:ExisteListaDefecto"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteListaDefectoResponse" message="tns:ExisteListaDefectoResponse"></output>
</operation>
<operation name="propCanal">
<input wsam:Action="http://Controladores/Sistema/propCanalRequest" message="tns:propCanal"></input>
<output wsam:Action="http://Controladores/Sistema/propCanalResponse" message="tns:propCanalResponse"></output>
</operation>
<operation name="BajaUsuario">
<input wsam:Action="http://Controladores/Sistema/BajaUsuarioRequest" message="tns:BajaUsuario"></input>
<output wsam:Action="http://Controladores/Sistema/BajaUsuarioResponse" message="tns:BajaUsuarioResponse"></output>
</operation>
<operation name="AgregarListaLR">
<input wsam:Action="http://Controladores/Sistema/AgregarListaLRRequest" message="tns:AgregarListaLR"></input>
<output wsam:Action="http://Controladores/Sistema/AgregarListaLRResponse" message="tns:AgregarListaLRResponse"></output>
</operation>
<operation name="ModificarNomVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarNomVideoRequest" message="tns:ModificarNomVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarNomVideoResponse" message="tns:ModificarNomVideoResponse"></output>
</operation>
<operation name="ModificarDescVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarDescVideoRequest" message="tns:ModificarDescVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarDescVideoResponse" message="tns:ModificarDescVideoResponse"></output>
</operation>
<operation name="ModificarDurVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarDurVideoRequest" message="tns:ModificarDurVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarDurVideoResponse" message="tns:ModificarDurVideoResponse"></output>
</operation>
<operation name="ModificarFechaVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarFechaVideoRequest" message="tns:ModificarFechaVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarFechaVideoResponse" message="tns:ModificarFechaVideoResponse"></output>
</operation>
<operation name="ModificarPrivVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarPrivVideoRequest" message="tns:ModificarPrivVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarPrivVideoResponse" message="tns:ModificarPrivVideoResponse"></output>
</operation>
<operation name="ModificarURLVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarURLVideoRequest" message="tns:ModificarURLVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarURLVideoResponse" message="tns:ModificarURLVideoResponse"></output>
</operation>
<operation name="ModificarCatVideo">
<input wsam:Action="http://Controladores/Sistema/ModificarCatVideoRequest" message="tns:ModificarCatVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarCatVideoResponse" message="tns:ModificarCatVideoResponse"></output>
</operation>
<operation name="ValorarVideo">
<input wsam:Action="http://Controladores/Sistema/ValorarVideoRequest" message="tns:ValorarVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ValorarVideoResponse" message="tns:ValorarVideoResponse"></output>
</operation>
<operation name="AltaVideo">
<input wsam:Action="http://Controladores/Sistema/AltaVideoRequest" message="tns:AltaVideo"></input>
<output wsam:Action="http://Controladores/Sistema/AltaVideoResponse" message="tns:AltaVideoResponse"></output>
</operation>
<operation name="SeguirUsuario">
<input wsam:Action="http://Controladores/Sistema/SeguirUsuarioRequest" message="tns:SeguirUsuario"></input>
<output wsam:Action="http://Controladores/Sistema/SeguirUsuarioResponse" message="tns:SeguirUsuarioResponse"></output>
</operation>
<operation name="DejarSeguirUsr">
<input wsam:Action="http://Controladores/Sistema/DejarSeguirUsrRequest" message="tns:DejarSeguirUsr"></input>
<output wsam:Action="http://Controladores/Sistema/DejarSeguirUsrResponse" message="tns:DejarSeguirUsrResponse"></output>
</operation>
<operation name="AgregarVideoListaReproduccion">
<input wsam:Action="http://Controladores/Sistema/AgregarVideoListaReproduccionRequest" message="tns:AgregarVideoListaReproduccion"></input>
<output wsam:Action="http://Controladores/Sistema/AgregarVideoListaReproduccionResponse" message="tns:AgregarVideoListaReproduccionResponse"></output>
</operation>
<operation name="CrearListaDefecto">
<input wsam:Action="http://Controladores/Sistema/CrearListaDefectoRequest" message="tns:CrearListaDefecto"></input>
<output wsam:Action="http://Controladores/Sistema/CrearListaDefectoResponse" message="tns:CrearListaDefectoResponse"></output>
</operation>
<operation name="CrearListaParticular">
<input wsam:Action="http://Controladores/Sistema/CrearListaParticularRequest" message="tns:CrearListaParticular"></input>
<output wsam:Action="http://Controladores/Sistema/CrearListaParticularResponse" message="tns:CrearListaParticularResponse"></output>
</operation>
<operation name="QuitarVideoLR">
<input wsam:Action="http://Controladores/Sistema/QuitarVideoLRRequest" message="tns:QuitarVideoLR"></input>
<output wsam:Action="http://Controladores/Sistema/QuitarVideoLRResponse" message="tns:QuitarVideoLRResponse"></output>
</operation>
<operation name="ModificarNombreU">
<input wsam:Action="http://Controladores/Sistema/ModificarNombreURequest" message="tns:ModificarNombreU"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarNombreUResponse" message="tns:ModificarNombreUResponse"></output>
</operation>
<operation name="ModificarApellidoU">
<input wsam:Action="http://Controladores/Sistema/ModificarApellidoURequest" message="tns:ModificarApellidoU"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarApellidoUResponse" message="tns:ModificarApellidoUResponse"></output>
</operation>
<operation name="ModificarFechaU">
<input wsam:Action="http://Controladores/Sistema/ModificarFechaURequest" message="tns:ModificarFechaU"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarFechaUResponse" message="tns:ModificarFechaUResponse"></output>
</operation>
<operation name="ModificarImagenU">
<input wsam:Action="http://Controladores/Sistema/ModificarImagenURequest" message="tns:ModificarImagenU"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarImagenUResponse" message="tns:ModificarImagenUResponse"></output>
</operation>
<operation name="ModificarNomC">
<input wsam:Action="http://Controladores/Sistema/ModificarNomCRequest" message="tns:ModificarNomC"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarNomCResponse" message="tns:ModificarNomCResponse"></output>
</operation>
<operation name="ModificarDescC">
<input wsam:Action="http://Controladores/Sistema/ModificarDescCRequest" message="tns:ModificarDescC"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarDescCResponse" message="tns:ModificarDescCResponse"></output>
</operation>
<operation name="ModificarPrivC">
<input wsam:Action="http://Controladores/Sistema/ModificarPrivCRequest" message="tns:ModificarPrivC"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarPrivCResponse" message="tns:ModificarPrivCResponse"></output>
</operation>
<operation name="AgregarComentarioNuevo">
<input wsam:Action="http://Controladores/Sistema/AgregarComentarioNuevoRequest" message="tns:AgregarComentarioNuevo"></input>
<output wsam:Action="http://Controladores/Sistema/AgregarComentarioNuevoResponse" message="tns:AgregarComentarioNuevoResponse"></output>
</operation>
<operation name="AgregarRespuesta">
<input wsam:Action="http://Controladores/Sistema/AgregarRespuestaRequest" message="tns:AgregarRespuesta"></input>
<output wsam:Action="http://Controladores/Sistema/AgregarRespuestaResponse" message="tns:AgregarRespuestaResponse"></output>
</operation>
<operation name="ModificarPrivLR">
<input wsam:Action="http://Controladores/Sistema/ModificarPrivLRRequest" message="tns:ModificarPrivLR"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarPrivLRResponse" message="tns:ModificarPrivLRResponse"></output>
</operation>
<operation name="ModificarLR">
<input wsam:Action="http://Controladores/Sistema/ModificarLRRequest" message="tns:ModificarLR"></input>
<output wsam:Action="http://Controladores/Sistema/ModificarLRResponse" message="tns:ModificarLRResponse"></output>
</operation>
<operation name="CargarDatosPrueba">
<input wsam:Action="http://Controladores/Sistema/CargarDatosPruebaRequest" message="tns:CargarDatosPrueba"></input>
<output wsam:Action="http://Controladores/Sistema/CargarDatosPruebaResponse" message="tns:CargarDatosPruebaResponse"></output>
</operation>
<operation name="AltaCategoria">
<input wsam:Action="http://Controladores/Sistema/AltaCategoriaRequest" message="tns:AltaCategoria"></input>
<output wsam:Action="http://Controladores/Sistema/AltaCategoriaResponse" message="tns:AltaCategoriaResponse"></output>
</operation>
<operation name="setContra">
<input wsam:Action="http://Controladores/Sistema/setContraRequest" message="tns:setContra"></input>
<output wsam:Action="http://Controladores/Sistema/setContraResponse" message="tns:setContraResponse"></output>
</operation>
<operation name="ExisteUsr">
<input wsam:Action="http://Controladores/Sistema/ExisteUsrRequest" message="tns:ExisteUsr"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteUsrResponse" message="tns:ExisteUsrResponse"></output>
</operation>
<operation name="InicioSesion">
<input wsam:Action="http://Controladores/Sistema/InicioSesionRequest" message="tns:InicioSesion"></input>
<output wsam:Action="http://Controladores/Sistema/InicioSesionResponse" message="tns:InicioSesionResponse"></output>
</operation>
<operation name="ExisteLista">
<input wsam:Action="http://Controladores/Sistema/ExisteListaRequest" message="tns:ExisteLista"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteListaResponse" message="tns:ExisteListaResponse"></output>
</operation>
<operation name="ExisteMail">
<input wsam:Action="http://Controladores/Sistema/ExisteMailRequest" message="tns:ExisteMail"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteMailResponse" message="tns:ExisteMailResponse"></output>
</operation>
<operation name="TieneVideosLR">
<input wsam:Action="http://Controladores/Sistema/TieneVideosLRRequest" message="tns:TieneVideosLR"></input>
<output wsam:Action="http://Controladores/Sistema/TieneVideosLRResponse" message="tns:TieneVideosLRResponse"></output>
</operation>
<operation name="ExisteVideo">
<input wsam:Action="http://Controladores/Sistema/ExisteVideoRequest" message="tns:ExisteVideo"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteVideoResponse" message="tns:ExisteVideoResponse"></output>
</operation>
<operation name="HayListasDefecto">
<input wsam:Action="http://Controladores/Sistema/HayListasDefectoRequest" message="tns:HayListasDefecto"></input>
<output wsam:Action="http://Controladores/Sistema/HayListasDefectoResponse" message="tns:HayListasDefectoResponse"></output>
</operation>
<operation name="LoSigue">
<input wsam:Action="http://Controladores/Sistema/LoSigueRequest" message="tns:LoSigue"></input>
<output wsam:Action="http://Controladores/Sistema/LoSigueResponse" message="tns:LoSigueResponse"></output>
</operation>
<operation name="TieneComentarios">
<input wsam:Action="http://Controladores/Sistema/TieneComentariosRequest" message="tns:TieneComentarios"></input>
<output wsam:Action="http://Controladores/Sistema/TieneComentariosResponse" message="tns:TieneComentariosResponse"></output>
</operation>
<operation name="ExisteCategoria">
<input wsam:Action="http://Controladores/Sistema/ExisteCategoriaRequest" message="tns:ExisteCategoria"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteCategoriaResponse" message="tns:ExisteCategoriaResponse"></output>
</operation>
<operation name="ExisteVideoLR">
<input wsam:Action="http://Controladores/Sistema/ExisteVideoLRRequest" message="tns:ExisteVideoLR"></input>
<output wsam:Action="http://Controladores/Sistema/ExisteVideoLRResponse" message="tns:ExisteVideoLRResponse"></output>
</operation>
<operation name="TieneVideos">
<input wsam:Action="http://Controladores/Sistema/TieneVideosRequest" message="tns:TieneVideos"></input>
<output wsam:Action="http://Controladores/Sistema/TieneVideosResponse" message="tns:TieneVideosResponse"></output>
</operation>
<operation name="TieneLR">
<input wsam:Action="http://Controladores/Sistema/TieneLRRequest" message="tns:TieneLR"></input>
<output wsam:Action="http://Controladores/Sistema/TieneLRResponse" message="tns:TieneLRResponse"></output>
</operation>
<operation name="TieneValoraciones">
<input wsam:Action="http://Controladores/Sistema/TieneValoracionesRequest" message="tns:TieneValoraciones"></input>
<output wsam:Action="http://Controladores/Sistema/TieneValoracionesResponse" message="tns:TieneValoracionesResponse"></output>
</operation>
<operation name="UTieneValoracionI">
<input wsam:Action="http://Controladores/Sistema/UTieneValoracionIRequest" message="tns:UTieneValoracionI"></input>
<output wsam:Action="http://Controladores/Sistema/UTieneValoracionIResponse" message="tns:UTieneValoracionIResponse"></output>
</operation>
<operation name="UTieneValoracion">
<input wsam:Action="http://Controladores/Sistema/UTieneValoracionRequest" message="tns:UTieneValoracion"></input>
<output wsam:Action="http://Controladores/Sistema/UTieneValoracionResponse" message="tns:UTieneValoracionResponse"></output>
</operation>
<operation name="getNick">
<input wsam:Action="http://Controladores/Sistema/getNickRequest" message="tns:getNick"></input>
<output wsam:Action="http://Controladores/Sistema/getNickResponse" message="tns:getNickResponse"></output>
</operation>
<operation name="getDataVideosLR">
<input wsam:Action="http://Controladores/Sistema/getDataVideosLRRequest" message="tns:getDataVideosLR"></input>
<output wsam:Action="http://Controladores/Sistema/getDataVideosLRResponse" message="tns:getDataVideosLRResponse"></output>
</operation>
<operation name="ListaTVideos">
<input wsam:Action="http://Controladores/Sistema/ListaTVideosRequest" message="tns:ListaTVideos"></input>
<output wsam:Action="http://Controladores/Sistema/ListaTVideosResponse" message="tns:ListaTVideosResponse"></output>
</operation>
<operation name="ListaTLR">
<input wsam:Action="http://Controladores/Sistema/ListaTLRRequest" message="tns:ListaTLR"></input>
<output wsam:Action="http://Controladores/Sistema/ListaTLRResponse" message="tns:ListaTLRResponse"></output>
</operation>
<operation name="OrdenoVideosLR">
<input wsam:Action="http://Controladores/Sistema/OrdenoVideosLRRequest" message="tns:OrdenoVideosLR"></input>
<output wsam:Action="http://Controladores/Sistema/OrdenoVideosLRResponse" message="tns:OrdenoVideosLRResponse"></output>
</operation>
<operation name="propLista">
<input wsam:Action="http://Controladores/Sistema/propListaRequest" message="tns:propLista"></input>
<output wsam:Action="http://Controladores/Sistema/propListaResponse" message="tns:propListaResponse"></output>
</operation>
<operation name="propCanal1">
<input wsam:Action="http://Controladores/Sistema/propCanal1Request" message="tns:propCanal1"></input>
<output wsam:Action="http://Controladores/Sistema/propCanal1Response" message="tns:propCanal1Response"></output>
</operation>
<operation name="ListaCanales">
<input wsam:Action="http://Controladores/Sistema/ListaCanalesRequest" message="tns:ListaCanales"></input>
<output wsam:Action="http://Controladores/Sistema/ListaCanalesResponse" message="tns:ListaCanalesResponse"></output>
</operation>
<operation name="ListaUsuarios">
<input wsam:Action="http://Controladores/Sistema/ListaUsuariosRequest" message="tns:ListaUsuarios"></input>
<output wsam:Action="http://Controladores/Sistema/ListaUsuariosResponse" message="tns:ListaUsuariosResponse"></output>
</operation>
<operation name="ListaListaReproducion">
<input wsam:Action="http://Controladores/Sistema/ListaListaReproducionRequest" message="tns:ListaListaReproducion"></input>
<output wsam:Action="http://Controladores/Sistema/ListaListaReproducionResponse" message="tns:ListaListaReproducionResponse"></output>
</operation>
<operation name="VideoRecienteU">
<input wsam:Action="http://Controladores/Sistema/VideoRecienteURequest" message="tns:VideoRecienteU"></input>
<output wsam:Action="http://Controladores/Sistema/VideoRecienteUResponse" message="tns:VideoRecienteUResponse"></output>
</operation>
<operation name="CantLikes">
<input wsam:Action="http://Controladores/Sistema/CantLikesRequest" message="tns:CantLikes"></input>
<output wsam:Action="http://Controladores/Sistema/CantLikesResponse" message="tns:CantLikesResponse"></output>
</operation>
<operation name="CantDislikes">
<input wsam:Action="http://Controladores/Sistema/CantDislikesRequest" message="tns:CantDislikes"></input>
<output wsam:Action="http://Controladores/Sistema/CantDislikesResponse" message="tns:CantDislikesResponse"></output>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://Controladores/Sistema/getUsuarioRequest" message="tns:getUsuario"></input>
<output wsam:Action="http://Controladores/Sistema/getUsuarioResponse" message="tns:getUsuarioResponse"></output>
</operation>
<operation name="ListasLDRVideos">
<input wsam:Action="http://Controladores/Sistema/ListasLDRVideosRequest" message="tns:ListasLDRVideos"></input>
<output wsam:Action="http://Controladores/Sistema/ListasLDRVideosResponse" message="tns:ListasLDRVideosResponse"></output>
</operation>
<operation name="ListaVideos">
<input wsam:Action="http://Controladores/Sistema/ListaVideosRequest" message="tns:ListaVideos"></input>
<output wsam:Action="http://Controladores/Sistema/ListaVideosResponse" message="tns:ListaVideosResponse"></output>
</operation>
<operation name="ListaCategorias">
<input wsam:Action="http://Controladores/Sistema/ListaCategoriasRequest" message="tns:ListaCategorias"></input>
<output wsam:Action="http://Controladores/Sistema/ListaCategoriasResponse" message="tns:ListaCategoriasResponse"></output>
</operation>
<operation name="ListaComentarios">
<input wsam:Action="http://Controladores/Sistema/ListaComentariosRequest" message="tns:ListaComentarios"></input>
<output wsam:Action="http://Controladores/Sistema/ListaComentariosResponse" message="tns:ListaComentariosResponse"></output>
</operation>
<operation name="ListaSeguidores">
<input wsam:Action="http://Controladores/Sistema/ListaSeguidoresRequest" message="tns:ListaSeguidores"></input>
<output wsam:Action="http://Controladores/Sistema/ListaSeguidoresResponse" message="tns:ListaSeguidoresResponse"></output>
</operation>
<operation name="ListaSeguidos">
<input wsam:Action="http://Controladores/Sistema/ListaSeguidosRequest" message="tns:ListaSeguidos"></input>
<output wsam:Action="http://Controladores/Sistema/ListaSeguidosResponse" message="tns:ListaSeguidosResponse"></output>
</operation>
<operation name="ListaVideosxCategoria">
<input wsam:Action="http://Controladores/Sistema/ListaVideosxCategoriaRequest" message="tns:ListaVideosxCategoria"></input>
<output wsam:Action="http://Controladores/Sistema/ListaVideosxCategoriaResponse" message="tns:ListaVideosxCategoriaResponse"></output>
</operation>
<operation name="ListaLRxCategoria">
<input wsam:Action="http://Controladores/Sistema/ListaLRxCategoriaRequest" message="tns:ListaLRxCategoria"></input>
<output wsam:Action="http://Controladores/Sistema/ListaLRxCategoriaResponse" message="tns:ListaLRxCategoriaResponse"></output>
</operation>
<operation name="getDataLR">
<input wsam:Action="http://Controladores/Sistema/getDataLRRequest" message="tns:getDataLR"></input>
<output wsam:Action="http://Controladores/Sistema/getDataLRResponse" message="tns:getDataLRResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Controladores/Sistema/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Controladores/Sistema/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
<operation name="getDataVideo">
<input wsam:Action="http://Controladores/Sistema/getDataVideoRequest" message="tns:getDataVideo"></input>
<output wsam:Action="http://Controladores/Sistema/getDataVideoResponse" message="tns:getDataVideoResponse"></output>
</operation>
<operation name="getDataUsuarioVideo">
<input wsam:Action="http://Controladores/Sistema/getDataUsuarioVideoRequest" message="tns:getDataUsuarioVideo"></input>
<output wsam:Action="http://Controladores/Sistema/getDataUsuarioVideoResponse" message="tns:getDataUsuarioVideoResponse"></output>
</operation>
<operation name="getDataUsuarioLR">
<input wsam:Action="http://Controladores/Sistema/getDataUsuarioLRRequest" message="tns:getDataUsuarioLR"></input>
<output wsam:Action="http://Controladores/Sistema/getDataUsuarioLRResponse" message="tns:getDataUsuarioLRResponse"></output>
</operation>
<operation name="getDataCanal">
<input wsam:Action="http://Controladores/Sistema/getDataCanalRequest" message="tns:getDataCanal"></input>
<output wsam:Action="http://Controladores/Sistema/getDataCanalResponse" message="tns:getDataCanalResponse"></output>
</operation>
</portType>
<binding name="SistemaPortBinding" type="tns:Sistema">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="AltaUsuarioWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AltaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarPassU">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteListaDefecto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="propCanal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="BajaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AgregarListaLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarNomVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarDescVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarDurVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarFechaVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarPrivVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarURLVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarCatVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ValorarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AltaVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="SeguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="DejarSeguirUsr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AgregarVideoListaReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CrearListaDefecto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CrearListaParticular">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="QuitarVideoLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarNombreU">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarApellidoU">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarFechaU">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarImagenU">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarNomC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarDescC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarPrivC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AgregarComentarioNuevo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AgregarRespuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarPrivLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModificarLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CargarDatosPrueba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="AltaCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setContra">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteUsr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="InicioSesion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteMail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="TieneVideosLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="HayListasDefecto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="LoSigue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="TieneComentarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteVideoLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="TieneVideos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="TieneLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="TieneValoraciones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UTieneValoracionI">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UTieneValoracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNick">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataVideosLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaTVideos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaTLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="OrdenoVideosLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="propLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="propCanal1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaCanales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaListaReproducion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="VideoRecienteU">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CantLikes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CantDislikes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListasLDRVideos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaVideos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaComentarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaSeguidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaVideosxCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListaLRxCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataUsuarioVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataUsuarioLR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataCanal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SistemaService">
<port name="SistemaPort" binding="tns:SistemaPortBinding">
<soap:address location="http://uytube.uy:8000/WebService"></soap:address>
</port>
</service>
</definitions>